.profileHeader {
    background-image: url("../../logo/Logo-Big.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 100%;
  }
  .backgroundImage {
    background-image: url("../../logo/Texture.JPG");
    /* background-size: cover;
    background-position: center; */
  }
  .information_table {
    /* background-color: rgb(255, 255, 255); */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: 98.5%;
    margin-left: 15px;
    border: 1px solid rgb(240, 237, 237);
  }
  p {
    font-size: 14px;
  }
  .profileFullName {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
  }
  .edit_button {
    margin-left: 59%;
  }
  table {
    /* border: 1px solid black; */
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
    margin-left: 25px;
  }
  
  td,
  th {
    /* border: 1px solid black; */
    text-align: left;
    padding: 5px;
  }
  
  .details {
    font-weight: bold;
    font-size: 14px;
    color: rgb(41, 40, 40);
  }
  
  .activities {
    border-left: 2px solid rgb(201, 198, 198);
    border-right: 1px solid rgb(223, 221, 221);
    border-top: 1px solid rgb(223, 221, 221);
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 10px 0px 0px 5px;
  }
  .logActivities {
    border-left: 2px solid rgb(201, 198, 198);
    border-right: 1px solid rgb(223, 221, 221);
    border-top: 1px solid rgb(223, 221, 221);
    margin-top: 2.3%;
    margin-right:30px;
    height: 590px; 
    overflow: scroll;
  overflow-x: hidden;
  }
  .logActivities::-webkit-scrollbar {
    display: none;
}
  
  .logActivitiesP {
    font-size: 18px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 10px 0px 0px 5px;
    

  }
  /* .sticky{
    position: sticky;
    top: 0;
    width: 100%;
  } */
  .name {
    font-weight: 600;
    font-size: 14px;
    color: rgb(78, 77, 77);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(202, 201, 201);
    /* box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45),
      25px 0 20px -20px rgba(0, 0, 0, 0.45); */
  }
  
  .profile_details {
    margin-top: 40px;
    margin-left: 20px;
  }
  
  .profile_details p {
    margin-top: -18px;
    /* font-size: 16px; */
  }
  .log_activity {
    width: 100%;
    border: 2px solid rgb(226, 222, 222);
    margin-top: 5px;
    text-align: left;
    padding: 4px 2px 4px 6px;
  }
  .log_activity p {
    margin-bottom: 3px;
    font-size: 12px;
  }
  small {
    color: rgb(34, 0, 156);
  }
  
  @media screen and (max-width: 480px) {
    .profileHeader {
      background-image: url("../../logo/Logo-Big.jpg");
      background-size: cover;
      background-position: center;
      padding: 10px;
      width: 104%;
      margin-left: -35px;
      
    }
    .information_table {
      /* background-color: rgb(255, 255, 255); */
      box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
      width: 100%;
      margin-left: -20px;
      border: 1px solid rgb(240, 237, 237);
    }
    .logActivities {
      border-left: 2px solid rgb(201, 198, 198);
      border-right: 1px solid rgb(223, 221, 221);
      border-top: 1px solid rgb(223, 221, 221);
      margin-top: 2.3%;
      height: 590px; 
      width: 100%;
      overflow: scroll;
    overflow-x: hidden;
    margin-left: 50px;
    }
    .permission{
      margin-left: -20px;
      width: 99%;

    }
  }
  /* 769px — 1024px */
  @media screen and (min-width: 481px) and (max-width: 767px)
{
  .profileHeader {
    background-image: url("../../logo/Logo-Big.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 130%;
  }
  .information_table {
    /* background-color: rgb(255, 255, 255); */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: 126.5%;
    /* margin-left: -20px; */
    border: 1px solid rgb(240, 237, 237);
  }
  .logActivities {
    border-left: 2px solid rgb(201, 198, 198);
    border-right: 1px solid rgb(223, 221, 221);
    border-top: 1px solid rgb(223, 221, 221);
    margin-top: 2.3%;
    height: 590px; 
    width: 120%;
    overflow: scroll;
  overflow-x: hidden;
  margin-left: 50px;
  }
  .permission{
    /* margin-left: -20px; */
    width: 130%;

  }
}
  @media screen and (min-width: 768px) and (max-width: 998px)
{
  .profileHeader {
    background-image: url("../../logo/Logo-Big.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    width: 130%;
  }
  .information_table {
    /* background-color: rgb(255, 255, 255); */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: 126.5%;
    /* margin-left: -20px; */
    border: 1px solid rgb(240, 237, 237);
  }
  .logActivities {
    border-left: 2px solid rgb(201, 198, 198);
    border-right: 1px solid rgb(223, 221, 221);
    border-top: 1px solid rgb(223, 221, 221);
    margin-top: 2.3%;
    height: 590px; 
    width: 120%;
    overflow: scroll;
  overflow-x: hidden;
  margin-left: 50px;
  }
  .permission{
    /* margin-left: -20px; */
    width: 130%;

  }
}
 
